@import '../../mixins.scss';
@import '../../variables.scss';

.section {
  padding-top: rem(50);
  padding-bottom: rem(70);
  @media screen and (min-width: 768px) {
    padding-top: rem(115);
    padding-bottom: rem(122);
  }
  @media screen and (min-width: 1024px) {
    padding-top: rem(135);
    padding-bottom: rem(141);
  }
  @media screen and (min-width: 2560px) {
    padding-bottom: rem(151);
  }
}

.title {
  @include h2($primary-dark-title-color);
  margin-bottom: rem(10);
  @media screen and (min-width: 768px) {
    margin-bottom: rem(23);
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: rem(18);
  }
}

.note {
  display: block;
  max-width: rem(284);
  margin: 0 auto;
  margin-bottom: rem(33);
  color: #010000;
  font-family: 'Source Sans Pro';
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(22);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (min-width: 768px) {
    max-width: rem(365);
    font-size: rem(18);
    margin-bottom: rem(52);
  }
  @media screen and (min-width: 1024px) {
    max-width: rem(770);
    margin-bottom: rem(60);
  }
}

.container {
  @include content-container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

