@import '../../variables.scss';

.button {
  display: block;
  text-decoration: none;
  width: 290px;
  height: 40px;
  border-radius: 4px;
  background-color: $primary-button-color;
  color: #fefefe;
  font-family: 'Source Sans Pro'; 
  font-size: rem(20);
  font-weight: 700;
  line-height: 34px;
  text-align: center;
 

  cursor: pointer;
  &:hover {
    background-color: $primary-color-button-hover;
  }
}
