@import '../../variables.scss';

.logoLink {
  display: block;
  flex-grow: 2;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.icon {
  cursor: pointer;
  // width: rem(134);
  height: rem(24);
  margin: 0;
  padding: 0;
  &:hover{
    fill: red
  }
}

.svgWrap {
  // width: rem(134);
  height: rem(24);
  margin: 0;
  padding: 0;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  text-decoration: none;
  color: $secondary-color;
}

