@import '../../mixins.scss';

.contentContainer {
  @include content-container;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}

.section {
  width: 100%;
  background-image: url(../../assets/img/bg-1-t.jpg);
  background-size: 203%;
  background-position: rem(-128) rem(-11);
  background-repeat: no-repeat;
  padding-top: rem(44);
  padding-bottom: rem(71);
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../../assets/img/bg-1-t@2x.jpg);
    background-size: 203%;
    background-position: rem(-128) rem(-11);

  }

  @media screen and (min-width: 768px) {
    padding-top: rem(85);
    padding-bottom: rem(122);
    background-size: 127%;
    background-position: 0 0;
  }
  @media screen and (min-width: 1024px) {
    background-image: url(../../assets/img/bg-1-d.jpg);
    padding-top: rem(104);
    padding-bottom: rem(158);
    background-size: 130%;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../../assets/img/bg-1-d@2x.jpg);
      background-size: 130%;
      background-position: 0 0;
    }
  }
  @media screen and (min-width: 2560px) {
    background-image: url(../../assets/img/bg-1-2k.jpg);
    padding-top: rem(104);
    padding-bottom: rem(143);
    background-size: 100%;
    background-position: 0 rem(-312);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../../assets/img/bg-1-2k@2x.jpg);
      background-size: 100%;
      background-position: 0 rem(-312);
    }
  }
}

.title {
  max-width: rem(268);
  max-height: rem(96);
  margin-bottom: rem(2);
  text-align: center;
  color: $primary-light-text-color;
  font-family: 'Overpass';
  font-size: rem(30);
  font-weight: 600;
  line-height: rem(34);
  overflow: hidden;
  @media screen and (min-width: 768px) {
    margin-bottom: rem(11);
    max-width: rem(377);
    max-height: rem(141);
    font-size: rem(42);
    line-height: rem(50);
    text-align: left;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: rem(11);
    max-width: rem(450);
    max-height: rem(166);
    font-size: rem(50);
    line-height: rem(60);
  }
  @media screen and (min-width: 2560px) {
    margin-bottom: rem(8);
  }
}

.content,
.mobileContent {
  display: none;
  max-width: rem(290);
  max-height: rem(62);
  margin-bottom: rem(42);
  color: $primary-light-text-color;
  font-family: 'Source Sans Pro';
  text-align: center;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(21);
  overflow: hidden;
  @media screen and (min-width: 768px) {
    display: block;
    max-width: rem(384);
    max-height: rem(140);
    margin-bottom: 3.39rem;
    font-size: rem(18);
    line-height: rem(24);
    text-align: left;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: rem(39);
    max-width: rem(427);
    max-height: rem(187);
    font-size: rem(20);
    line-height: rem(26);
  }
  @media screen and (min-width: 2560px) {
    margin-bottom: rem(33);
    max-width: rem(560);
    max-height: rem(146);
    font-size: rem(20);
    line-height: rem(26);
  }
}

.mobileContent {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
